@model IEnumerable<MultipleModelDataSingleView.Models.student>


<h1>Students Data</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Class</th>
            <th>Fees</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model.my_students)*@
        @*@foreach (var item in ViewBag.students)*@
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.name</td>
                <td>@item.gender</td>
                <td>@(item.@class)</td>
                <td>@item.fees</td>
            </tr>
        }
    </tbody>
</table>